{% extends 'layout.twig' %}

{% block icon_img %}
    <link rel="icon" type="image/png" href="favicon.ico"/>
{% endblock %}

{% block title %} <title>Envoi résultat INR | {{ parent () }} </title> {% endblock %}

{% block css_page %}
    <link rel="stylesheet" href="/assets/css/send-blood-sampling.css">
{% endblock %}

{% block content %}
    <header>
        <nav>
            <a href="{{ path('homepage') }}"><i class="fa-solid fa-arrow-left"></i></a>
        </nav>
    </header>
    <div class="container-fluid" id="bloodSampling">
        <div class="banner">
            <img src="/assets/img/doctors.jpg" alt="banner">
        </div>

        <div class="row">
            <h1>Envoyer un INR</h1>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                {{ form_start(form,{'action':path('sendBloodSamplingPost')}) }}
                {{ form_errors(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}