{% extends 'layout.twig' %}

{% block icon_img %}
    <link rel="icon" type="image/png" href="favicon.ico"/>
{% endblock %}

{% block title %} <title> Accueil | {{ parent () }} </title> {% endblock %}

{% block css_page %}
    <link rel="stylesheet" href="/assets/css/homepage.css">
{% endblock %}

{% block content %}
    <header>
        <nav>
            <a href="/"><img src="/assets/img/logo.jpg" alt="logo" height="60"></a>
            <div class="right">
                <a href="{{ path('bloodSamplingGet') }}" id="bloodSampling"><i class="fa-solid fa-plus"></i></a>
                <a href="{{ path('sendBloodSamplingGet') }}" id="sendBloodSampling"><i class="fa-solid fa-envelope"></i></a>
                <a href="/logout" id="logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            </div>

        </nav>
    </header>
    <div class="container-fluid" id="homepage">
        <div class="banner">
            <img src="/assets/img/homepage-banner.webp" alt="banner homepage">
        </div>

        <div class="row">
            {% for message in app.flashes('success') %}
                <div class="flash-success bg-success text-white p-5 mb-5 text-center">
                    {{ message }}
                </div>
            {% endfor %}

            <h1>Résultats INR</h1>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table">
                    <thead>
                    <tr class="table-dark">
                        <th>Date de prélèvement</th>
                        <th>Dose journalière avant la prise de sang</th>
                        <th>INR</th>
                        <th>Dose journalière modifiée après INR</th>
                        <th>Remarques éventuelles (oubli de prise , autre évènement...)</th>
                        <th>Date du prochain INR</th>
                        <th>Modifier INR</th>
                    </tr>
                    </thead>
                    {% for bloodSamplingResult in bloodSamplingResults %}

                        <tbody>
                        <tr>
                            <td class="table-dark">{{ bloodSamplingResult.frenchDate }}</td>
                            <td>{{ bloodSamplingResult.dailyDoseBeforeBloodTest }}</td>
                            <td>{{ bloodSamplingResult.inr }}</td>
                            <td>{{ bloodSamplingResult.dailyDoseModifiedAfterInr }}</td>
                            <td>{{ bloodSamplingResult.anyComments }}</td>
                            <td>{{ bloodSamplingResult.nextDateInr }}</td>
                            <td><a href="{{ path('updateBloodSamplingGet',{'id':bloodSamplingResult.id}) }}" id="updateBloodSampling"><i class="fa-solid fa-pen"></i></a></td>

                        </tr>

                        </tbody>

                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
{% endblock %}