{% extends 'layout.twig' %}

{% block icon_img %}
    <link rel="icon" type="image/png" href="/favicon.ico"/>
{% endblock %}

{% block title %} Homepage | {{ parent () }} {% endblock %}

{% block css_page %}
    <link rel="stylesheet" href="/assets/css/homepage.css">
{% endblock %}

{% block content %}
    <header>
        <nav>
            <a href="#"><img src="/assets/img/logo.jpg" alt="logo" height="60"></a>
                <a href="/logout" id="logout">Déconnexion</a>
        </nav>
    </header>
    <div class="container-fluid" id="homepage">
        <div class="banner">
            <img src="/assets/img/homepage_banner.webp" alt="banner homepage">
        </div>

        <div class="row">
            <h1>Résultats INR</h1>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table">
                    <thead>
                    <tr class="table-dark">
                        <th>Date de prélèvement</th>
                        <th>Dose journalière avant la prise de sang</th>
                        <th>INR</th>
                        <th>Dose journalière modifiée après INR</th>
                        <th>Remarques éventuelles (oubli de prise , autre évènement...)</th>
                        <th>Date du prochain INR</th>
                    </tr>
                    </thead>
                {% for result in results %}

                        <tbody>
                        <tr>
                            <td class="table-dark">{{ result.frenchDate}}</td>
                            <td>{{ result.dailyDoseBeforeBloodTest}}</td>
                            <td>{{ result.inr}}</td>
                            <td>{{ result.dailyDoseModifiedAfterInr}}</td>
                            <td>{{ result.anyComments}}</td>
                            <td>{{ result.nextDateInr}}</td>
                        </tr>

                        </tbody>

                {% endfor %}
                </table>

            </div>
        </div>
    </div>
{% endblock %}